
body {
  margin: 0;
  font-family: Consolas, "Courier New", monospace;
  background-color: #f4f4f4;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  text-align: center;
}

.menubar {
  width: 100%;
  background-color: #FFFF8A;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.menubar a {
  color: #99112C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: all 0.3s ease;
}

.menubar a:hover {
  background-color: #99112C;
  color: white;
}

.menubar a.active {
  background-color: #99112C;
  color: white;
}

h1, h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
}

input {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 16px;
  margin-left: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #99112C;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #FFFF8A;
  color: #99112C;
}


#result {
  display: none;                 
  margin-top: 30px;
  background: #FFFF8A;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.05);
  padding: 20px;
  max-width: 850px;
  width: 100%;
  text-align: center;
  min-height: 300px;
}

#result.expanded {
  max-width: 850px;
  min-height: 450px;
}

#placeholder {
  color: #99112C;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.country-grid h2 {
  color: #99112C;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.flag {
  width: 190px;
  height: 110px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.coat {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid #99112C;
  border-radius: 5px;
}

.country-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.info {
  margin-top: 8px;
  font-size: 16px;
  color: #333;
}

.label {
  font-weight: bold;
  color: #99112C;
}
